@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-color: rgb(233, 218, 246);
    
}
.container{
    height: 33rem;
    width: 56rem;  
    margin: 40px auto; 
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0  10px 10px rgb(54, 54, 54);
    box-sizing: border-box;
    background-color: white;
}
.container1{
    height: 33rem;
    width: 25rem; 
    background-color: rgb(236, 232, 239);
    border-radius: 0 10px 10px 0;
}
.heading{
    font-family: 'Poppins', sans-serif;
    color: rgb(109, 108, 108);
    padding-top: 3rem;
    padding-left: 1rem;
}
.heading:hover{
    color:rgb(62, 62, 62) ;
}
.para{
    font-family: 'Poppins', sans-serif;
    color: rgb(109, 108, 108);
    padding-left: 1rem;  
}
.para:hover{
    color:rgb(62, 62, 62) ;
}
.container2{
    background-color: white;
    width: 31rem;
    border-radius: 0 10px 10px 0;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem; 
    color:rgb(199, 148, 236);
    text-decoration: underline;
    margin-top: 6rem;
    margin-left: 6.5rem;   
}
h3:hover{
    color:rgb(188, 156, 211);
}
.para1{
    font-family: 'Poppins', sans-serif;
    color: rgb(59, 59, 59);
    margin-top: 4rem;
    margin-left: 2rem;
}
.para1:hover{
    color: black;   
}
.email{
   height: 2rem;
   width: 20rem;
   margin-left: 2rem;
   margin-top: 2rem;
   padding: 1rem;
}
.password{
    height: 2rem;
    width: 20rem;
    margin-left: 2rem;
    margin-top: 2rem;
    padding: 1rem;  
}
.btn2{
    border: none;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: rgb(59, 59, 59);
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 15.5rem;
}
.btn2:hover{
    color: black;
}
.btn3{
    border-radius: 5px;
    color: rgb(109, 108, 108);
    background-color:rgb(236, 232, 239); 
    width: 7rem;
    height: 2rem;
    border: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
    cursor: pointer;
}
.btn3:hover{
    color: rgb(59, 59, 59);
    background-color:rgb(211, 197, 222) ;
}
.log-in{
    margin-left: 2rem;
    margin-top: 2rem;
    display: flex;
    gap: 6rem;
}
input{
    border: none;
    border-bottom: 1.5px solid rgb(199, 148, 236);
}
input:focus{
    outline: none;
}
.logo{
    width: 7rem;
    margin-left: 8rem;
    margin-top: 5rem;
}

